// Botones
.btn {
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    border-radius: 4px;
    display: inline-block;
    border: 2px solid $yellow;
    background-color: $yellow;
    color: $black;

    &:hover {
        background-color: transparent;
        color: $yellow;
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(255, 215, 0, 0.3);
    }
}

.btn-sec {
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    border-radius: 4px;
    display: inline-block;
    background-color: transparent;
    border: 2px solid $yellow;
    color: $yellow;

    &:hover {
        background-color: $yellow;
        color: $black;
    }
}

.btn-small {
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
    border-radius: 4px;
    display: inline-block;
    border: 2px solid $yellow;
    background-color: $yellow;
    color: $black;

    &:hover {
        background-color: transparent;
        color: $yellow;
        transform: translateY(-3px);
        box-shadow: 0 5px 15px rgba(255, 215, 0, 0.3);
    }
}