// Carrusel de proyectos
.carrusel-proyectos { 
  position: relative; 
  width: 100%;      
  height: 650px;
  margin: 5rem auto; 
  border-radius: 20px;
  overflow: hidden; 

  .slide {
    border-radius: 20px;

    .item {
      width: 200px;
      height: 250px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      border-radius: 20px;
      box-shadow: 0 30px 50px rgba(255, 217, 0, 0.1);
      background-position: 50% 50%;
      background-size: cover;
      display: inline-block;
      transition: all 0.5s;
    }

    .item:nth-child(1),
    .item:nth-child(2) {
      top: 0;
      left: 0;
      transform: translate(0, 0);
      border-radius: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      transition: all .5s;
    }

    .item:nth-child(3) {
      left: 50%;
    }

    .item:nth-child(4) {
      left: calc(50% + 220px);
    }

    .item:nth-child(5) {
      left: calc(50% + 440px);
    }

    .item:nth-child(n + 6) {
      left: calc(50% + 660px);
      opacity: 0;
    }

    .item:nth-child(2) .content {
      display: block;
    }
  }
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  transform: translate(0, -50%);
  display: none;
}

.content .name {
  font-size: 40px;
  color: $yellow;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  left: 45%;
  right: 50%;
  width: 100%;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 20px;

  button {
    width: 40px;
    height: 35px;
  }

  button:active {
    transform: scale(1.02);
  }
}

.next {
  padding: 0 0 0 3px;
}

.prev {
  padding: 0 3px 0 0;
}
