
.form {
    max-width: 900px;
    margin: 0 auto;
    background:rgba(255,255,255,0.01);
    padding: 2.5rem;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.04);
    display: grid;
    gap: 25px;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 9px;

    label {
        font-size: 1.4rem;
        color: $halfwhite;
        font-weight: 500;
    }

    input,
    textarea {
        padding: 1rem 1.1rem;
        border-radius: 8px;
        border: 1px solid rgba(255,255,255,0.06);
        background: transparent;
        font-size: 1.4rem;

        &::placeholder {
            color: $quarterwhite;
        }

        &:focus {
            border-color: $yellow;
            box-shadow: 0 8px 24px rgba(255,215,0,0.08);
            transform: translateY(-2px);
            outline: none;
        }
    }

    textarea {
        min-height: 160px;
        resize: vertical;
    }
}

.envia-form {
    display: flex;
    justify-content: flex-end;
    border-radius: 4px;
}