.img-responsive {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    position: relative;
    z-index: 2;
    &:hover {
        transform: translateY(-5px);
    }
}

.hero-foto {
    width: 100%;
    padding: 20px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid $yellow;
        border-radius: 20px;
        transform: rotate(5deg) scale(0.95);
        z-index: 1;
        transition: transform 0.3s ease;
    }

    &:hover::after {
        transform: rotate(0deg) scale(1);
    }
}